body {
    background-color: #f5eec2;
}

.heading {
    text-align: center;
    font-family: sans-serif;
    color: #416a59;
    margin: 0%;
}

.recipe-list {
    margin-top: 40vh;
    display: flex;
    justify-content: space-between;
}

ul > li {
    list-style: none;
}