body {
    background-color: #f5eec2;
}

.heading {
    text-align: center;
    font-family: sans-serif;
    color: #416a59;
    margin: 0%;
}

img {
    border-style: solid;
    border-color: #416a59;
    border-radius: 50%;  
}

.recipe-list {
    margin-top: 30vh;
    display: flex;
    justify-content: space-around;
}

ul > li {
    list-style: none;
}